# datos grandes
data/raw/
data/processed/

# csv
*.csv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz
*.toc
*.out
*.lof
*.lot
*.fdb_latexmk
*.fls
*.bbl-SAVE-ERROR